.ptital{
    background-color: black;
    color: whitesmoke;
    border: re;
    
}
.personalprojects{
    font-size: 300%;
    padding-top: 10%;
    margin-left: 8%;
    padding-bottom: 5%;
    
}

.Couriert{
    margin-left: 13%;
    color: gold;
    padding: 3px;
    font-size: 200%;
}
.type1{
    font-size: large;
    color: silver;
    margin-left: -5% ; 
    font-size: 150%;
}

.abp{
    font-size: 100%;
    margin-left: 20%;
    margin-right: 15%;
}
.abp2{
    font-size: 170%;
    margin-left: 20%;
    margin-right: 15%;
    padding-bottom: 20%;
}